                    <grid>
                        <grow>
                            <gcel class="userFeedCell">
                                <grid>
                                    <grow>
                                        <gcel>
                                            <div id="presetHolder" class="controlBox">
                                                <grid class="controlGrid">
                                                    <grow>
                                                        <gcel>
                                                            <input id="filterPlaylist" class="fillParent" placeholder="loading..." />
                                                        </gcel>
                                                        <gcel class="controlCell">
                                                            <i id="savePlaylist" title="save playlist" class="icon-save1 button"></i>
                                                            <i id="clearPlaylist" title="clear playlist" class="icon-edit-clear-history button"></i>
                                                        </gcel>
                                                    </grow>
                                                </grid>
                                            </div>
                                        </gcel>
                                    </grow>
                                </grid>
                            </gcel>
                        </grow>
                        <grow>
                            <gcel id="viewMenu">
                                <div class="formBox crop">
                                    <div id="playList" class="scrollBox">
                                        <a id="playItemPlan" class="playListItem" href="#">
                                            <grid class="playItemGrid inactive">
                                                <grow>
                                                    <gcel class="playItemCell name">
                                                        <input class="text name" type="text" value="loading..." readonly />
                                                    </gcel>
                                                    <gcel class="playItemCell from">
                                                        <input class="text from" type="text" value="" readonly />
                                                    </gcel>
                                                    <gcel class="playItemCell time">
                                                        <input class="text time" type="text" value="" readonly />
                                                    </gcel>
                                                </grow>
                                            </grid>
                                        </a>
                                    </div>
                                </div>
                            </gcel>
                        </grow>
                    </grid>
