            <grid>
                <grow>
                    <gcel id="viewControls" class="">
                        <div class="controlBox">
                            <grid>
                                <grow>
                                    <gcel id="controlButtons">
                                        <div class="crop">
                                            <div class="line">
                                                <div class="icon-cog1 button"></div><!-- toggle icon-volume-mute
                                             --><div class="icon-loop button" id="listOption"></div><!-- toggle icon-arrow-right2 -->
                                            </div>
                                            <div class="line">
                                                <div class="icon-step-backward button" id="playPrev"></div><!--
                                             --><div class="icon-play1 button" id="playButton"></div><!--
                                             --><div class="icon-step-forward button" id="playNext"></div>
                                            </div>
                                            <div class="line">
                                                <div class="icon-expand button" id="viewMode"></div><!-- toggle icon-compress
                                             --><div class="icon-wave-square button" id="editWave"></div><!-- toggle icon-compress -->
                                            </div>
                                        </div>
                                    </gcel>
                                    <gcel id="volumeCell">
                                        <div id="volumeKnob" class="span"></div>
                                    </gcel>
                                    <gcel id="seekerCell">
                                        <div id="seekerFace" class="placed scroll span">
                                            <canvas id="seekerDraw"></canvas>
                                            <layer id="seekerDeck"><img class="span deck" src="assets.dir/images/sample.png"></img></layer>
                                            <layer id="seekerKnob"><img class="span knob" src="assets.dir/images/sample.png"></img></layer>
                                        </div>
                                    </gcel>
                                </grow>
                            </grid>
                        </div>
                    </gcel>
                </grow>
            </grid>
